/* _header.scss
================================ */

.header {

    h1 {
        color: $blue;
    }

    span {
        color: white;
    }
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
}

.links {

    li {
        padding-left: 1rem;
    }
}
