/* _header.scss
================================ */

.header {
    justify-content: space-between;
    padding: 2rem 3rem 0 3rem;

    h1 {
        color: $blue;
    }

    span {
        color: white;
    }
}

.nav-header {
    padding: 1rem 0 1rem 3rem
}

.links {
    justify-content: flex-start;

    li {
        padding-right: 1rem;
    }
}
