/* _search.scss
================================ */

.search {
    background-color: white;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    color: $grey;
    text-align: left;
    margin-bottom: 3rem;
}
