/* _typography.scss
================================ */

@import url('https://fonts.googleapis.com/css?family=Yellowtail|Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: .8rem;
}

h1 {
    font-family: 'Yellowtail', sans-serif;
    font-size: 75px;
}

h2 {
    font-weight: bold;
    font-size: 1rem;
    padding: 3rem 0 0 3rem;
}

span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
}

.title {
    margin: 3rem;
    color: $blue;
}
